{% extends 'base.html' %}
{% block content %}
        <section class="body-container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- UNDER CONSTRUCTION MESSAGE -->
                    <div class="jumbotron under-construction">
                        <h1><b>Sorry, this page is still under construction!</b></h1>
                        <p>
                           Please click the button below to return to the last page.
                        </p>
                        <br>
                        <p><button class="btn btn-lg btn-warning" onclick="goBack()">Return</button></p>
                    </div>
                    <!-- /.UNDER CONSTRUCTION MESSAGE -->
                </div>
            </div>

        </section>
{% endblock %}