@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*---------------------------------------------------- Miscellaneous stylings */

header {
    margin: 0;
}

/* Remove bullet points from lists by default. */

ul {
    list-style: none;
}

.group-image {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.group-image-special {
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 0 4px 0 rgba(0,0,0,0.08);
}

.photo-credit {
    background-color: #e5e5e5;
    color: #000;
    padding-left: 3px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.photo-credit-special {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.photo-credit a {
    color: #337ab7;
}

.photo-credit a:hover {
    color: darkblue;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.photo-credit a:focus {
    color: darkblue;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.RT-logo {
    width: 90px;
    height: 90px;
    padding-right: 10px;
}

.about-image {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 0 4px 0 rgba(0,0,0,0.08);
}

.inline-block {
    display: inline-block;
}

.panel-title {
    text-align: center;
    font-weight: bold;
}

.email-link i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

.email-link i:hover {
    color: #f0ad4e;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*-------------------------------------------------- Font Awesome stylings */

.multi-media-icon {
    padding-right: 7px;
    color: #f0ad4e;
}

.fa-arrow-icon {
    padding-right: 5px;
}

.fa-facebook-icon {
    padding-right: 9px;
}

/*-------------------------------------------------- Header Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.test-only-alert {
    color: #544600;
    background-color: #eec802;
    border: none;
    padding: 5px 15px;
    margin-bottom: 0;
    border-radius: 0;
}

.live-link {
    text-decoration: none;
    color: #000;
}

.live-link:hover {
    color: green;
}

.live-link:focus {
    text-decoration: none;
    color: green;
}

.live-link:visited {
    text-decoration: none;
    color: #000;
}



/*-------------------------------------------------- Heading */

.page-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fafafa;
    background-color: #676767;
    padding-left: 0;
    padding-right: 0;
}

.page-title h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}


/*-------------------------------------------------- Navbar */

.navbar {
    margin-bottom: 0;
    font-size: medium;
}

/*-------------------------------------------------- Home Page */

.local-operators {
    max-width: 560px;
    color: #000;
    background-color: #fff;
    margin: auto;
    margin-top: 25px;
}

.local-operators-text {
    font-weight: 300;
}

.local-operators span a {
    color: #fafafa;
    text-decoration: none;
}

.arriva-corporate {
    background-color: #12868a;
}

.btn-group, .btn-group-vertical {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.news {
    max-height: 500px;
    max-width: 560px;
    background-color: #337ab7;
    color: #fafafa;
    margin: auto;
    margin-top: 25px;
    padding: 2px 2px 5px 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    overflow-y: auto;
}

.news a {
    color: #fafafa;
}

/*-------------------------------------------------- All Local Groups */

.welcome {
    max-width: 430px;
    max-height: 635px;
    background-color: #5cb85c;
    color: #fafafa;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.welcome-south-tyneside {
    max-height: 645px;
}

.welcome a {
    color: #fafafa;
}

.welcome-highlighting{
    color: yellow;
}

.local-news {
    max-width: 430px;
    background-color: #f0ad4e;
    margin-top: 15px;
    margin-left: 0;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.local-news a {
    color: #000;
}

.campaigns {
    max-width: 899px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 0px;
    padding: 5px;
    overflow-y: auto;
}

.campaigns ul {
    list-style: disc;
}

.campaigns li {
    margin-top: 10px;
}

.campaigns li:first-child {
    margin-top:0;
}

/*-------------------------------------------------- About Page */

.about-heading {
    text-align: center;
    color: #337ab7;
}

.our-structure, .our-partners {
    color: #000;
    padding-left: 5px;    
}

.our-structure-heading, .our-partners-heading {
    color: #337ab7;
    margin-top: 0;    
    padding-top: 5px;    
}

.our-objectives-bullet-points {
    list-style: disc;
}

.our-objectives, .membership {
    background-color: #337ab7;
    color: #fafafa;
    padding-left: 5px;    
    padding-bottom: 5px;    
}

.our-objectives-heading, .membership-heading {
    padding-top: 5px;    
}

.col-md-7, .col-lg-7 {
    padding-left: 0;
    padding-right: 0;
}

/*-------------------------------------------------- Acknowledgement Page */

.body-container {
    min-height: calc(100vh - 245px);
}

.jumbotron {
    text-align: center;
    background-color: #5cb85c;
    color: #fafafa;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 30px;
}
.jumbotron h1 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

/*-------------------------------------------------- 'Under Construction' Page - Use this for any page that is yet to be developed e.g, rail.html, calendar.html, etc.  */
/*                                                   As pages are developed, this class and related html can be removed from the file. It was thought better to have    */
/*                                                   undeveloped pages handled like this, rather than let users see a Not Found error or pages with no MAIN content.    */                                      
.under-construction {
    background-color: #337ab7;
}

/*-------------------------------------------------- Modals */

.modal-footer {
    text-align: left;
}

.cc-licence-link {
    text-decoration: none;
    color: royalblue;
}    

.cc-licence-link:hover {
    text-decoration: none;
    color: darkblue;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;    
}

.cc-licence-link:focus {
    text-decoration: none;
    color: royalblue;
}    

/*-------------------------------------------------- Footer */

footer {
    min-height: 110px;
    margin-top: 5px;
    padding: 5px;
    background-color: #676767;
    color: #fafafa;
}

.footer {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #f0ad4e;
}

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: royalblue;
    color: lightblue;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-media li a i:hover {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*-------------------------------------------------- Media Queries */

@media(max-width: 767px) {

    .page-title h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .campaigns {
        min-height: 100px;
        overflow-y: scroll;
    }

    .welcome, .local-news {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }

    .jumbotron {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    ul {
        padding-left: 10px;
    }
    footer {
        margin-top: 20px;
    }
}

@media (min-width:768px) and (max-width:991px) {

    .news {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        max-height: 500px;
        min-width: 680px;
    }
 
    .welcome, .local-news {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        min-width: 100%;
    }

    .about-image {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }
    
    footer {
        margin-top: 20px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    
    .about-image {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }
}
