@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*-------------------------------------------------- Background */

img {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

header {
    margin: 0;
}


/*---------------------------------------------------- General stylings */

/* Remove bullet points from lists. */

ul {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.panel-title {
    text-align: center;
    font-weight: bold;
}

/*-------------------------------------------------- Heading */

.page-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fafafa;
    background-color: #676767;
    padding-left: 0;
    padding-right: 0;
}

.page-title h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}


/*-------------------------------------------------- Navbar */

.navbar {
    margin-bottom: 0;
    font-size: medium;
}

/*-------------------------------------------------- Main content */

/*-------------------------------------------------- Home Page */

.news {
    max-height: 480px;
    max-width: 560px;
    background-color: #337ab7;
    color: #fafafa;
    margin-top: 15px;
    margin-left: 40px;
    padding: 0px 0px 5px 5px;
    overflow-y: scroll;
}

.news a {
    color: #fafafa;
}

.local-operators {
    max-width: 560px;
    color: #000;
    background-color: #fff;
    margin-top: 25px;
    margin-left: 20px;
    padding: 3px 5px 5px;
}

.local-operators-text {
    font-weight: 300;
}

.local-operators span a {
    color: #fafafa;
    text-decoration: none;
}

.arriva-corporate {
    background-color: #12868a;
}

/*-------------------------------------------------- All Local Groups */

.welcome {
    max-width: 430px;
    min-height: 584px;
    background-color: #5cb85c;
    color: #fafafa;
    margin-top: 15px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
    overflow-y: auto;
}

.welcome a {
    color: #fafafa;
}

.column-positioning {
    margin-left: -12px;
}

.local-news {
    max-width: 430px;
    background-color: #f0ad4e;
    margin-top: 15px;
    margin-left: 0;
    padding: 5px;
    border-radius: 10px;
}

.local-news a {
    color: #000;
}

.campaigns {
    min-height: 410px;
    max-width: 899px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 0px;
    padding: 5px;
}

.campaigns ul {
    list-style: disc;
}

.campaigns li {
    margin-top: 10px;
}

.campaigns li:first-child {
    margin-top:0;
}

/*-------------------------------------------------- Newcastle Group */
.image-newcastle {
    max-width: 64%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}

/*-------------------------------------------------- North Tyneside Group */

.image-north-tyneside {
    max-width: 64%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}

/*-------------------------------------------------- Footer */

footer {
    min-height: 110px;
    margin-top: 5px;
    padding: 5px;
    background-color: #676767;
    color: #fafafa;
}

.footer-section {
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: royalblue;
    color: lightblue;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-media li a i:hover {
    /*    
    color: #e84610;
*/
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*-------------------------------------------------- Media Queries */

@media(max-width: 768px) {

    .page-title h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .news {
        margin: 0;
        max-height: 250px;
    }

    .panel-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .local-operators {
        margin: 0;
    }

    .local-operators-text {
        margin-top: 10px;
    }

    .custom-width {
        max-width: 150px;
    }

    .campaigns {
        min-height: 100px;
        overflow-y: auto;
    }

    .column-positioning {
        margin-left: 0;
    }

    footer {
        margin-top: 20px;
    }

}

