{% extends 'base.html' %}
{% block content %}

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <h2 class="about-heading">Who we are and what we do</h2>

            <!-- OUR OBJECTIVES -->
            <div class="our-objectives">
                <h3 class="our-objectives-heading">Our objectives</h3>
                <p>
                    Tyne & Wear Public Transport Users Group (TWPTUG) was formed in November 2010 in response to concerns about increasing traffic congestion,
                    road accidents and deteriorating air quality. We are not anti-roads, but we believe that the dominance of private motoring along with
                    excessive road haulage are behind these problems (private motor vehicles are acknowledged by scientists to be one of the three major
                    contributors to climate change).
                </p>
                <p>
                    A balanced approach that promotes more use of public transport, and rail for freight, therefore, is urgently needed. We believe that cheap
                    and attractive public transport will help achieve this goal. We seek to influence the bus and rail companies, as well as Nexus and the
                    regional authorities, and to encourage car owners to switch to public transport (through better prices, better integration of transport modes,
                    supporting cyclists and disabled users, providing affordable park-and-ride schemes, etc.).
                </p>
                <p>
                    We believe full integration can only be achieved if public transport is controlled by local authorities. This does not necessarily exclude
                    local transport assets being owned and operated by private companies. Although we are mainly interested in improving the quality, quantity
                    and availability of public transport within Tyne & Wear, we also consider issues in the wider region.
                </p>
                <p>
                    We also aim to engage with those people who rarely travel on public transport because they believe either:
                </p>
                <ul class="our-objectives-bullet-points">
                    <li>it is not cost-effective,</li>

                    <li>there is a lack of personal security, or</li>

                    <li>there are physical barriers to travelling.</li>
                </ul>
                <p>
                    In all cases we aim to find out why, and do what we can to help.
                </p>
                <p>
                    <b>We hope you will help us in our campaign. Please consider joining one our local groups to defend and improve service provision across all modes of transport.</b>
                </p>
            </div>
            <!-- /.OUR OBJECTIVES -->

            <!-- OUR STRUCTURE -->
            <div class="our-structure">
                <h3 class="our-structure-heading">Our structure</h3>
                <p>
                    TWPTUG is a voluntary group of both individuals and representatives from partner organisations across Tyne and Wear.
                    The organisation consists of a Management Committee and up to five Local Groups, each group representing one of the
                    Tyne & Wear boroughs.
                </p>
                <p>
                    Only two local groups are running at present i.e. Newcastle and
                    North Tyneside. Elected representatives from local groups, along with those from partner organisations and elected Management Committee officers, form the full
                    Management Committee. Both the Management Committee and local groups must elect a minimum of two officers i.e. Chair and Secretary, at an Annual General Meeting
                    of the membership.
                </p>
                <p>
                    The Management Committee meet around four or five times a year, usually at Gateshead Civic Centre. At the Management Committee 2018 AGM, in
                    October, the following officers were elected:
                </p>
                <ul>
                    <li><b>Chair:</b> Shirley Ford and Vicki Gilbert (job share)</li>
                    <li><b>Vice Chair:</b> William Ions</li>
                    <li><b>Secretary:</b> Richard Rook</li>
                    <li><b>Assistant Secretary:</b> Paul Baker</li>
                    <li><b>Minute Secretary:</b> Alan Lubbock</li>
                    <li><b>Treasurer:</b> Graham Jellet</li>
                    <li><b>Press & Communications:</b> Vicki Gilbert</li>
                    <li><b>Media:</b> Alistair Ford</li>
                    <li><b>Research:</b> Dave Shaw (TBC)</li>
                    <li><b>Website Manager:</b> Kevin Alderson</li>
                    <li><b>Campaigns & Strategy:</b> <i>Vacant</i></li>
                </ul>
            </div>
            <!-- /.OUR STRUCTURE -->

            <!-- MEMBERSHIP -->
            <div class="membership">
                <h3 class="membership-heading">Membership</h3>
                <p>
                    There is no formal membership requirement, registration or subscription required. You are classed as member if you participate in the organisation in some way.
                    All sorts of contributions are welcome, small or large, like submitting news articles for the website, carrying out research, taking part in demonstrations,
                    organising events, writing to MPs and local councillors, etc., etc. We are run entirely by volunteers. No-one receives a salary or honorarium. Our costs are mainly
                    for room hire for the occasional public meeting requiring a bigger room than we can usually get free.
                </p>
            </div>
            <!-- /.MEMBERSHIP -->

            <!-- OUR PARTNERS -->
            <div class="our-partners">
                <h3 class="our-partners-heading">Our Partners</h3>
                <p>
                    We welcome like-minded organisations, big or small, to become partners with us. There is no cost involved. Partner organisations are entitled to send
                    delegates to our Management Committee meetings and thus have a say in how we are run. If your organisation would like to join us, please email us via the
                    footer link below.
                </p>
                <ul class="partner-links">
                    <li><a href="https://bettertransport.org.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Campaign for Better Transport</span></a></li>

                    <li><a href="http://www.elderscouncil.org.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Newcastle Elders Council</span></a></li>

                    <li><a href="http://www.disabilityinclusion.co.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Disability Inclusion</span></a></li>

                    <li><a href="http://www.lrta.org" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Light Rail Transit Association</span></a></li>

                    <li><a href="https://www.livingstreets.org.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Living Streets</span></a></li>

                    <li><a href="https://studentsforglobalhealth.org" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Students for Global Health (formerly MEDSIN)</span></a></li>

                    <li><a href="https://newcycling.org" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Newcastle Cycling Campaign</span></a></li>

                    <li><a href="https://www.facebook.com/newcastleyouthcouncil" target="_blank"><span><i class="fa fa-facebook fa-facebook-icon" aria-hidden="true"></i>Newcastle Youth Council</span></a></li>

                    <li><a href="https://my.northtyneside.gov.uk/category/493/get-involved-and-have-your-say" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>North Tyneside Youth Council</span></a></li>

                    <li><a href="http://www.nepaproject.co.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>North East Pensioners Association</span></a></li>

                    <li><a href="https://friendsoftheearth.uk/groups/northtyneside" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>North Tyneside Friends of the Earth</span></a></li>

                    <li><a href="https://www.facebook.com/pages/category/Community/North-Tyneside-Womens-Voices-1719540708079323" target="_blank"><span><i class="fa fa-facebook fa-facebook-icon" aria-hidden="true"></i>North Tyneside Women's Voices</span></a></li>

                    <li><a href="https://www.facebook.com/Unite-Tyne-Wear-Community-456017514479421" target="_blank"><span><i class="fa fa-facebook fa-facebook-icon" aria-hidden="true"></i>UNITE Tyne & Wear Community Branch</span></a></li>

                    <li><a href="https://www.pcs.org.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Public and Commercial Services Union</span></a></li>

                    <li><a href="http://newcastle-tuc.org.uk" target="_blank"><span><i class="fa fa-arrow-circle-right fa-arrow-icon" aria-hidden="true"></i>Tyne and Wear Trades Council</span></a></li>
                </ul>
            </div>
            <!-- /.OUR PARTNERS -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <img class="about-image" src="static/images/air_pollution_campaign.jpg" alt="Launch of Air Pollution Campaign at TWPTUG 2015 AGM." data-toggle="tooltip" data-placement="left" title="Launch of Air Pollution Campaign at TWPTUG 2015 AGM">
            <img class="about-image" src="static/images/bring_back_BR.jpg" alt="Demonstration in London calling for re-nationalisation of the railways." data-toggle="tooltip" data-placement="left" title="Demonstration in London calling for re-nationalisation of the railways.">
            <img class="about-image" src="static/images/assembly_rooms_seminar.jpg" alt="October 2017 Workshop in Newcastle's Assembly Rooms bringing together Nexus, bus operators, councillors and the public." data-toggle="tooltip" data-placement="left" title="October 2017 Workshop in Newcastle's Assembly Rooms bringing together Nexus, bus operators, councillors and the public.">
            <img class="about-image" src="static/images/NEPA_demo.jpg" alt="National Pensioners' Convention defending the retention of concessionary travel for pensioners." data-toggle="tooltip" data-placement="left" title="National Pensioners' Convention defending the retention of concessionary travel for pensioners.">
        </div>
    </div>
</section>

{% endblock %}