{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="image-air-pollution" src="static/images/air_pollution_campaign.jpg"
                     alt="TWPTUG wants to see a a vast reduction in air pollution deaths and suffering
                     (TWPTUG AGM, 19 October 2015)."
                     data-toggle="tooltip" data-placement="bottom"
                     title="TWPTUG wants to see a a vast reduction in air pollution deaths and suffering
                     (TWPTUG AGM, 19 October 2015).">
            </div>

            <!-- NEWS -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="news-air-pollution">
                    <span class="uppercase panel-title">Air Pollution News & Campaigns</span><br><br>
                    <!-- <<                                                                       >> -->
                    <!-- << INSERT NEWS ARTICLES HERE                                             >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << General instructions for updating content:                            >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << 1. Copy and paste the topmost item between the <a> and </a> tags.     >> -->
                    <!-- << 2. Replace the href with the new website address.                     >> -->
                    <!-- << 3. Replace the description between the <p> and </p> tags.             >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << For content to be shown in modal windows, do as above but replace     >> -->
                    <!-- << the opening <a> tag with following template and customise to suit:    >> -->
                    <!-- << <a href="" data-toggle="modal" data-target="#NameOfModal">            >> -->
                    <!-- << Note that href must be left null. Copy new modal from existing modal  >> -->
                    <!-- << further down in document.                                             >> -->

                    <a href="static/documents/Newcastle - Reducing our own carbon footprint.docx">
                        <p>Reducing the carbon footprint of a city: Newcastle.</p>
                    </a>

                    <a href="static/documents/Make a small footprint.docx">
                        <p>Make a small footprint - How to reduce your own carbon output.</p>
                    </a>

                    <a href="https://www.businessupnorth.co.uk/newcastle-hospitals-nhs-trust-cut-carbon-emissions-using-cargo-bikes/" target="_blank">
                        <p>Newcastle Hospitals NHS Trust cut carbon-emissions using cargo bikes.</p>
                    </a>

                    <a href="https://theconversation.com/air-pollution-may-be-making-us-less-intelligent-106212" target="_blank">
                        <p>Air pollution may be making us less intelligent.</p>
                    </a>

                    <a href="http://www.ehn-online.com/news/article.aspx?id=17373" target="_blank">
                        <p>Second council signs air charter.</p>
                    </a>

                    <a href="static/documents/Cullercoats harbour day campaign.docx">
                        <p>Cullercoats Harbour Day and campaign against air pollution - letter sent to local press.</p>
                    </a>

                    <a href="https://www.change.org/p/13383772/u/23158439?utm_medium=email&utm_source=petition_update&utm_campaign=405043&sfmc_tk=CmacqhVfCj37jZoOdk3T3mYBFVyfLrUGdBbA%2fnq37PBnw4mu%2fT2EYHYYP6CfMchI&j=405043&sfmc_sub=235404436&l=32_HTML&u=65063898&mid=7259882&jb=105" target="_blank">
                        <p>
                            Change.org petition update: Which Magazine - “77% of new diesel cars fail emission tests”.
                        </p>
                    </a>

                </div>
            </div>
            <!-- /.NEWS -->
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="image-air-pollution" src="static/images/cullercoats_harbour_day.jpg"
                     alt="Cullercoats harbour Day and campaign against air pollution, August 2018."
                     data-toggle="tooltip" data-placement="bottom"
                     title="Cullercoats harbour Day and campaign against air pollution, August 2018.">
            </div>
        </div>
    </div>

</section>

{% endblock %}