{% extends 'base.html' %}
{% block content %}

    <section class="row">

        <!-- CALENDAR BODY -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="calendar-container">
                <div class="calendar">
                    <div class="month">
                        <!-- Go to previous month. -->
                        <i class="fas fa-angle-left prev"></i>

                        <div class="date">
                            <h2><!-- Currently displayed month and year shown here. --></h2>
                            <p><!-- Current date shown here. --></p>
                        </div>

                        <!-- Go to next month. -->
                        <i class="fas fa-angle-right next"></i>
                    </div>

                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>

                    <div class="days">
                        <!-- day cells placed here dynamically by javascript. -->
                    </div>

                </div>
            </div>
        </div>

        <!-- EVENTS PANEL -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="events-panel" class="events-panel">
                <span id="panel-title" class="uppercase panel-title"></span><br><br>
                <div id="events-list" class="events-list">
                     <!-- Event details placed here dynamically by javascript. -->
                </div>
            </div>
        </div>

    </section>


    <script>
        //
        // Function to remove any existing child paragraphs under the parent in the event panel,
        // otherwise current events could be appended to previous event details.
        //
        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            };
        };
    </script>

    <script>
        function initialiseEventsPanel() {
            // Find the parent element under which the event details will be placed.
            var parentElem = document.getElementById("events-list");

            // Call function to remove any existing child paragraphs under the parent.
            removeAllChildNodes(parentElem);
            return parentElem;
        };
    </script>

    <script>
        function createEventFields(title, description, date, time) {
            // Initialise the Events panel.
            parentElem = initialiseEventsPanel();

            for(var i = 0; i < title.length; i += 1) {

                // Show the event Title.
                var pElemTitle = document.createElement("p");
                pElemTitle.className = "title";
                pElemTitle.innerHTML = "Title: " + title[i];
                parentElem.appendChild(pElemTitle);

                // Show the event Description.
                var pElemDescription = document.createElement("p");
                pElemDescription.className = "description";
                pElemDescription.innerHTML = "Description: " + description[i];
                parentElem.appendChild(pElemDescription);

                // Show the event Date.
                var pElemDate = document.createElement("p");
                pElemDate.className = "date";
                pElemDate.innerHTML = "Date: " + date[i];
                parentElem.appendChild(pElemDate);

                // Show the event Time.
                var pElemTime = document.createElement("p");
                pElemTime.className = "time";
                pElemTime.innerHTML = "Time: " + time[i];
                parentElem.appendChild(pElemTime);

                // Create a break between separate events for better readability.
                var pElemBreak = document.createElement("br");
                parentElem.appendChild(pElemBreak);
            };
        };
    </script>


    <script>
        function noEventsToday() {
            // Initialise the Events panel.
            parentElem = initialiseEventsPanel();

            document.getElementById("panel-title").innerHTML = "Events for today";

            var pElemNoEvents = document.createElement("p");
            pElemNoEvents.className = "no-events-today";
            pElemNoEvents.innerHTML = "No events are scheduled for today.";
            parentElem.appendChild(pElemNoEvents);
        };
    </script>

    <script>
        // Display all events for this month in the event panel.
        function displayEventsForMonth(events) {
            document.getElementById("panel-title").innerHTML = "Events for this month";

            let title = [];
            let description = [];
            let date = [];
            let time = [];

            // Search the dictionary for events scheduled for this month.
            events.forEach(function(item) {

                // Extract the fields from the JSON object and display the
                // details of all events for the selected month.

                title.push(item.title);
                description.push(item.description);
                date.push(item.event_date);
                time.push(item.event_time);

                // Call function to create new Event panel paragraphs for each event field.
                createEventFields(title, description, date, time);
            });
        };
    </script>


    <script src='static/js/script.js' type="text/javascript"></script>

{% endblock %}