{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-events" src="static/images/assembly_rooms_seminar.jpg"
             alt="Transport seminar at Old Assembly Rooms, Newcastle, October 2017.">
    </div>
    <!-- /.IMAGE -->

    <!-- EVENTS PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="news-events">
            <span class="uppercase panel-title">Events</span><br><br>
            <!-- <<                                                                       >> -->
            <!-- << INSERT EVENTS HERE                                                    >> -->
            <!-- <<                                                                       >> -->
            <p>
                <b>16/10/2023 - Annual Public Conference</b>
            </p>
            <p>
                The NEPTUG Management Committee are pleased to announce the planned revival, since COVID, of our
                annual public conference on public transport for 2023:
            <p>
                <b>"Public Transport in the North East: Where are we now and where are we going?"</b>
            </p>
            <p>
                This event is to be held on Monday 16 October, 6-8pm at the Royal Station Hotel, Neville Street,
                Newcastle, in the Victoria Room (which has disabled access from the station platform side).
                Entrance by ticket only. Tickets are free.
            </p>
            <p>
                Main speakers:
            </p>
                <ul>
                    <li>
                        Jamie Driscoll, Mayor for North of Tyne.
                    </li>
                    <li>
                        Professor Margaret Bell of Newcastle University, expert on climate change and air pollution
                        with respect to transport.
                    </li>
                </ul>
            <p>
                We will also be showing a shortened version of "The Great Railway Disaster" by Ben Elton / Channel 4.
                Please book your ticket with Eventbrite <a href="https://www.eventbrite.com/e/public-transport-in-the-north-east-where-are-we-now-where-are-we-going-tickets-722814195717?aff=oddtdtcreator" target="_blank">
                <u>here</u>.</a>
            </p>

            <p>
                <b>14/10/2021 - North Tyneside Transport Forum</b>
            </p>

            <p>The next meeting of the North Tyneside Transport Forum will be held on 14th October 2021,
               6.30-8pm. The Forum is
               composed of the local council, Nexus, bus operators and community groups like FoE, Living
               Streets, etc.
               If you are interested in attending, and not already on our, or the Council's, mailing list
               please contact <a href="mailto:john.cram@northtyneside.gov.uk">john.cram@northtyneside.gov.uk</a>
            </p>

            <p>Venue to be confirmed</p>

            <p><b>Agenda</b></p>

            <ul>
                <li><b>6.30 pm</b> - Welcome and introduction by chair Fiona Swindell</li>

                <li><b>6.35pm</b> - Bringing more passengers back on public transport, update (speaker from
                    Nexus). Questions and discussion on public transport information in the case of
                    disruption to services.
                </li>
                <li><b>7.00pm</b> - Updates on local transport services (bus and Metro operators and Nexus).
                    Questions and discussion.
                </li>
                <li><b>8.00pm</b> - Meeting close.</li>
            </ul>

        </div>
    </div>
     <!-- /.EVENTS PANEL-->

</section>

{% endblock %}