{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-events" src="static/images/assembly_rooms_seminar.jpg"
             alt="Transport seminar at Old Assembly Rooms, Newcastle, October 2017.">
    </div>
    <!-- /.IMAGE -->

    <!-- EVENTS PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="news-events">
            <span class="uppercase panel-title">Events</span><br><br>
            <!-- <<                                                                       >> -->
            <!-- << INSERT EVENTS HERE                                                    >> -->
            <!-- <<                                                                       >> -->
            <p>
                Bus firms pay fat cats £1.5 BILLION - while prices go up 55% and routes are axed - Mirror article.
            </p>
            <p>
                Driving change: how hydrogen can fuel a transport revolution
            </p>

        </div>
    </div>
     <!-- /.EVENTS PANEL-->

</section>

{% endblock %}