{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-events" src="static/images/assembly_rooms_seminar.jpg"
             alt="Transport seminar at Old Assembly Rooms, Newcastle, October 2017.">
    </div>
    <!-- /.IMAGE -->

    <!-- EVENTS PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="news-events">
            <span class="uppercase panel-title">Events</span><br><br>
            <!-- <<                                                                       >> -->
            <!-- << INSERT EVENTS HERE                                                    >> -->
            <!-- <<                                                                       >> -->
            <p>The next meeting of the <b>North Tyneside Transport Forum</b> will be held on 14th October 2021,
               6.30-8pm. The Forum is
               composed of the local council, Nexus, bus operators and community groups like FoE, Living
               Streets, etc.
               If you are interested in attending, and not already on our, or the Council's, mailing list
               please contact <a href="mailto:john.cram@northtyneside.gov.uk">john.cram@northtyneside.gov.uk</a>
            </p>

            <p>Venue to be confirmed</p>

            <p><b>Agenda</b></p>

            <ul>
                <li><b>6.30 pm</b> - Welcome and introduction by chair Fiona Swindell</li>

                <li><b>6.35pm</b> - Bringing more passengers back on public transport, update (speaker from
                    Nexus). Questions and discussion on public transport information in the case of
                    disruption to services.
                </li>
                <li><b>7.00pm</b> - Updates on local transport services (bus and Metro operators and Nexus).
                    Questions and discussion.
                </li>
                <li><b>8.00pm</b> - Meeting close.</li>
            </ul>

        </div>
    </div>
     <!-- /.EVENTS PANEL-->

</section>

{% endblock %}