{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- WELCOME -->
                        <div class="welcome">
                            <h1 class="uppercase panel-title">Welcome to Gateshead Group!</h1>
                            <p></p>
                            <p>
                                <i><b>What we do</b></i>
                            </p>
                            <p>
                                Some valuable work was done by this group with regard to buses serving hospitals but unfortunately, due to some members moving out of the area and others beset with ill-health,
                                it is dormant right now.
                            </p>
                            <p>
                                If either live or work in Gateshead and would like to help re-start the group then please get in touch with the TWPTUG secretary below. We can help you with publicity to find other people to re-establish
                                the group and thus help improve public transport provision in Gateshead.
                            </p>
                            <p>
                                <i><b>Our history</b></i>
                            </p>
                            <p>
                                Our group started in 2016, was the fourth local group to be established under the umbrella of TWPTUG. The catalyst for forming the group was hospital users' annoyance with Go North East for not sending their buses
                                into the grounds of Queen Elizabeth hospital, despite there being a turning point in the grounds to do so. The latter was built by Gateshead Council a decade earlier.
                            </p>
                            <p>
                                <i><b>Enquiries</b></i>
                            </p>
                            <p>
                                <!-- If, and when, this Group starts up again, comment-in the 2 lines below, and comment-out the next 2 lines after -->
                                <!-- those,to redirect emails to back to the Group Secretary. Currently, any emails will go to the TWPTUG Secretary. -->

                                <!--Please email us here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalGateshead"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>-->
                                <!--Alternatively, email at <a href="mailto:ghptugsecretary@outlook.com">ghptugsecretary@outlook.com</a>.-->

                                Please email TWPTUG here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalTWPTUG"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
                                Alternatively, email us at <a href="mailto:twptugsecretary@outlook.com">twptugsecretary@outlook.com</a>.
                            </p>
                        </div>
                        <!-- /.WELCOME -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- /.LOCAL NEWS AND EVENTS -->
                        <div class="local-news">
                            <span class="uppercase panel-title">Local News & Events</span><br>
                            <p></p>
                        </div>
                        <!-- /.LOCAL NEWS AND EVENTS -->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- IMAGE -->
                        <img class="group-image" src="static/images/angel_of_the_north.jpg" alt="Angel of the North statue by Antony Gormley.">
                        <!-- /.IMAGE -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- CAMPAIGNS -->
                        <div class="campaigns">
                            <h3 class="uppercase">Campaigns and Activities</h3><br>
                            <p>Gateshead group achieved the following:</p>
                            <ul>
                                <li>Due to concerns about the dangers to elderly and/or infirm people crossing the busy Queen Elizabeth Avenue, outside the QE Hospital, we lobbied the
                                    bus company to re-route their buses through the hospital instead. This was refused on the grounds that it would waste to much time for drivers.
                                    Eventually a petition was raised with Gateshead Council to install a pedestrian crossing. This was granted and a zebra crossing was later installed.</li>
                            </ul>
                        </div>
                        <!-- /.CAMPAIGNS -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}