{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- WELCOME -->
                <div class="welcome">
                    <h1 class="uppercase panel-title">Welcome to Newcastle Group!</h1>
                    <p></p>
                    <p>
                        <i><b>What we do</b></i>
                    </p>
                    <p>
                        Our aim is to promote and improve local public transport to make the city a green and pleasant place for everyone.
                    </p>
                    <p>
                        We campaign on issues specific to Newcastle, conduct research and to inform the public. We deal with transport, highways and pollution issues which affect residents in Newcastle. The Chair and Secretary represent the group on Newcastle Transport Forum.
                        Our Chair is also a member of the <a href="https://bluehousegroup.org" target="_blank"><b>Blue House Working Group.</b></a>
                    </p>
                    <p>
                        <i><b>Our history</b></i>
                    </p>
                    <p>
                        Our group started in 2015. We meet four or five times per year at the LNER Community Room, Central Station, following the Newcastle Transport Forum meetings. The first two years of our existence were spent securing a separate identity
                        for the branch and our presence on the Newcastle Transport Forum. We held a successful joint Pollution Seminar in April 2016 with SPACE for Gosforth. At our last AGM, in June 2018, the branch elected the following officers: Alistair Ford
                        (Chair), Richard Rook (Secretary) and Liz Scarff (Research Officer).
                    </p>
                    <p>
                        <i><b>Enquiries</b></i>
                    </p>
                    <p>
                        <!--Please email us here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalNewcastle"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>-->
                        Please email our General Secretary at <a href="mailto:twptug@btinternet.com">twptug@btinternet.com</a>.
                    </p>
                    <!-- 'list-inline' is a Bootstrap class. -->
                    <ul class="list-inline social-media">
                        <li>
                            Follow us on our <i>Platform</i> page on Facebook.
                            <a target="_blank" href="https://www.facebook.com/PlatformNewcastle/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- /.WELCOME -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- LOCAL NEWS AND EVENTS -->
                <div class="local-news">
                    <span class="uppercase panel-title">Local News & Events</span><br>
                    <p>
                        Our next public meeting will be held on Tuesday 27th November at 5.30pm in Community Room 15, LNER Offices, Newcastle Central Station. <b>All welcome!</b>
                    </p>

                    <p>
                        ‘Let’s talk transport – Re-Newcastle’ – development programme update to Newcastle City Council Overview and Scrutiny Committee. View PDF
                        <a href="static/documents/Lets%20talk%20transport%20-%20Re-Newcastle%20-%20development%20programme%20update.pdf" target="_blank"><b>here</b></a>.
                    </p>
                    <p>
                        Update: Our 38 Degrees petition 'Release grant funding for new Metro trains now!' to the Secretary of State for Transport has been successful! Click
                        <a href="https://you.38degrees.org.uk/petitions/government-funding-for-tyne-and-wear-metro" target="_blank"><b>here</b></a> for our response on the 38 Degrees website.
                    </p>
                </div>
                <!-- /.LOCAL NEWS AND EVENTS -->
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <!-- IMAGE -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="group-image" src="static/images/central_station.jpg" alt="Looking west inside Newcastle Central Station main hall, showing the big clock suspended from the roof arch girders.">
            </div>
            <!-- /.IMAGE -->

            <!-- CAMPAIGNS -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="campaigns">
                    <h3 class="uppercase">Campaigns and Activities</h3><br>
                    <p>We are currently working on the following:</p>
                    <ul>
                        <li>Arriva North East polluting older buses on Gosforth High Street – letters sent asking for newer buses.</li>

                        <li>Stagecoach in Newcastle – agreement to work towards common goals and co-operate on Transport Forum to achieve recognition for public transport in the City’s highway schemes.</li>

                        <li>NPTUG to co-operate with Stagecoach to establish Bus User Forum in Newcastle.</li>

                        <li>Newcastle City Council Bus Shelter Consultation – ongoing NPTUG campaign to achieve Real Time Bus Information at stops. Contact with Sally Herbert City Council.</li>

                        <li>On-going Development of <a target="_blank" href="https://www.facebook.com/PlatformNewcastle/"><i>Platform</i></a> Facebook page as main vehicle to widen membership.</li>

                        <li>We have responded to City Council consultations on air pollution. The City Council are formulating an Air Pollution Strategy joint with Gateshead and North Tyneside Councils. This is ongoing and the policy must be decided
                            early 2019. We have conducted pollution monitoring in City “hotspots”. Collaboration with Kingston Park Neighbourhood Forum who have conducted air pollution monitoring in Kingston Park under the auspices of Newcastle University
                            Urban Observatory.</li>

                        <li>Representation on Blue House Working Group but decision of City Council awaited on future of roundabout.</li>

                        <li>John Dobson Street – representation to City Council re unsatisfactory positioning of southbound bus stop causing road safety concerns.</li>

                        <li>On-going Representation joint with Elders Council to City Council to procure bus stops on Queen Victoria Road to serve RVI.</li>

                        <li>Killingworth Road closure.</li>

                        <li>Representation to City Council re problems of Council’s non-adherence to the Terms of Reference to Newcastle Transport Forum. City Council have now promised to adhere to these.</li>

                        <li>Increasing membership and broadening demographic of NPTUG. A leaflet has been drafted and will be printed and hopefully displayed on notice boards at Newcastle Metro stations and other places in the public realm.</li>

                        <li>Alive After Five NE1 initiative which provides free parking after 5pm in Council multi-storey car parks. We have asked them to consider a similar initiative for public transport.</li>

                        <li>Blackett Street pedestrianisation and diversion of cross-city bus services. We are involved in City Council consultations and discussions with Stagecoach. We are concerned that the temporary diversionary route with only one
                            inconvenient stop may be unsatisfactory for a significant minority of passengers. We intend to survey existing bus stops in the Central Arcade/Grainger Market area in order to find an additional stopping place.</li>
                    </ul>
                </div>
            </div>
            <!-- /.CAMPAIGNS -->
        </div>
    </div>

</section>
{% endblock %}