{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- WELCOME -->
                <div class="welcome">
                    <h1 class="uppercase panel-title">Welcome to North Tyneside Group!</h1>
                    <p></p>
                    <p>
                        <i><b>What we do</b></i>
                    </p>
                    <p>
                        Our aim is to promote and improve local public transport and encourage the use of self-transport like walking and cycling to make the borough a safer, and healthier place for all residents, workers and visitors.

                    </p>
                    <p>
                        We campaign on the adoption of measures like bus lanes and cycling paths, and support monitoring/action on air pollution, to achieve our aims stated above.
                    </p>
                    <p>
                        <i><b>Our history</b></i>
                    </p>
                    <p>
                        This group was started in 2013, and was the first local group to be created as part of TWPTUG. We now have a contact list of 315 individuals.
                        We normally meet bi-monthly at Whitley Bay Library, York Rd, NE26 1AB. We are a semi-autonomous, democratic group. Our last AGM was in March 2018.
                        Our elected officers are: Fiona Swindell (Chair), Vicky Gilbert (Secretary), Carol Hawkins (Minute Secretary). The Chair and Secretary represent
                        the group on North Tyneside Transport Forum.
                    </p>
                    <p>
                        In 2014, we set up a Transport Forum in partnership with North Tyneside Council, which is attended regularly by councillors, transport officers,
                        Nexus and bus and rail managers. Councillor John Harrison, Chair of the NECA Transport Sub Committee, is a regular attendee. The Forum is held
                        4 to 5 times each year and, unlike Newcastle Transport Forum, our Forum is open to the public to attend, so that their views and suggestions on
                        public transport in the area can be heard and acted upon. The Forum moves around the borough, to allow residents from the different parts of North
                        Tyneside to attend. The venue is always a local library eg, Whitley Bay, North Shields, Wallsend, Killingworth and is advertised in the local press.
                        We are grateful to John Cram, Transport Officer for the borough, for organising each event with Nexus support.
                        and other interested groups. etc.
                    </p>
                    <p>
                        <i><b>Enquiries</b></i>
                    </p>
                    <p>
                        <!--Please email us here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalNTyneside"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>-->
                        Please email our General Secretary at <a href="mailto:twptug@btinternet.com">twptug@btinternet.com</a>.
                    </p>

                </div>
                <!-- /.WELCOME -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- LOCAL NEWS AND EVENTS -->
                <div class="local-news">
                    <span class="uppercase panel-title">Local News & Events</span><br><br>

                    <p>Showcasing our partner, <b>Living Streets North Tyneside!</b>
                       Click <a href="https://ntynesidelivingstreets.org.uk/" target="_blank">here</a>
                       for lots of interesting articles and news.
                    </p>

                    <p>The next meeting of the <b>North Tyneside Transport Forum</b> will be held on 14th October
                       2021, 6.30-8pm.
                       The Forum is
                       composed of the local council, Nexus, bus operators and community groups like FoE, Living
                       Streets, etc.
                       If you are interested in attending, and not already on our, or the Council's, mailing list
                       please contact <a href="mailto:john.cram@northtyneside.gov.uk">john.cram@northtyneside.gov.uk</a>
                    </p>

                    <p>Venue to be confirmed</p>

                    <p><b>Agenda</b></p>

                    <ul>
                        <li><b>6.30 pm</b> - Welcome and introduction by chair Fiona Swindell</li>

                        <li><b>6.35pm</b> - Bringing more passengers back on public transport, update (speaker from
                            Nexus). Questions and discussion on public transport information in the case of
                            disruption to services.
                        </li>
                        <li><b>7.00pm</b> - Updates on local transport services (bus and Metro operators and Nexus).
                            Questions and discussion.
                        </li>
                        <li><b>8.00pm</b> - Meeting close.</li>
                    </ul>
                    <!--
                    <p>Our next public <b>group meeting</b> will be held on 6th November, 5.30pm at Whitley Bay Library. <b>All welcome!</b></p>
                    -->

                </div>
                <!-- /.LOCAL NEWS AND EVENTS -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- IMAGE -->
                <img class="group-image" src="static/images/st_marys_lighthouse.jpg" alt="St Mary's Lighthouse.">
                <!-- /.IMAGE -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- CAMPAIGNS -->
                <div class="campaigns">
                    <h3 class="uppercase">Campaigns and Activities</h3><br>
                    <p>This is what we have been working on:</p>
                    <ul>

                        <li>We campaigned against the enactment of the Bus Services Bill in its initial form  and against several of the clauses, the most pernicious being Clause 21
                            that would deprive local councils from being allowed to own and operate their own municipal bus company. Given that the 11 remaining municipal companies
                            are the only ones that win any awards for service we felt very strongly about this. We were joined in our campaign by the Northern Group of Labour MPs and
                            both Alan Campbell MP and our Mayor, Norma Redfearn both joined us at one of the photo-shoots we organised to publicise the issue. Despite severe criticism
                            from both the House of Lords and the Transport Select Committee, the Government ignored this and passed the Bill with the clause intact, and we now have the
                            Bus Services Act to deal with and hopefully, get amended.</li>

                        <li>The issue of air pollution and the link to the high and unnecessary mortality rates that are resulting from the particulates found in diesel fuel is also a
                            major concern for us. We campaign regularly against motor vehicles and buses that use diesel fuel and target areas where traffic congestion is high. For
                            example, this year we tried to get traffic banned from the seafront on ‘Harbour Day’ at Cullercoats, and despite doing a lot of contact work to get the local
                            businesses and the RNLI agreement it still did not happen. We will try again in 2019.</li>

                        <li>In April, Friends of the Earth (FoE) had a national campaign to research the levels of pollution in selected areas across the UK. We supported the local FoE
                            group, who undertook monitoring duties across North Tyneside. The results of their survey showed that in the parts of the borough they monitored, the levels
                            of air pollution were in excess of the permitted national figure. Along with several other campaigning groups eg, Living Streets, Keep our NHS Public, North
                            Tyneside Cycling Group, NTPTUG and FoE wrote to the borough Health Officer who advised her figures did not coincide with our findings. We are still campaigning
                            about this and the next step is a plan to meet with Council Officers to see what is planned for the Council’s response, following legal action taken against
                            the  government by ‘Client Earth’ and where the court found the UK government in breach of permitted levels of ‘killer’ pollution. </li>

                        <li>Bus Services in North Tyneside, as elsewhere have been cut and the cancellation of some routes, and we have received numerous complaints from
                            members, particularly about the Number 1 service provided by Go North East that frequently, is late, or you wait until the service, that is timetabled behind,
                            arrives. We have also been involved in supporting the residents of Holly House Retirement Home on Marine Drive, Whitley Bay in their campaign for a bus to
                            stop nearby, after Arriva changed the route of their service 57. After a long campaign from 2015, and which Arriva were not able to give any assistance, we
                            enlisted the help of Cllr Sandra Graham. Nexus then stepped in and agreed to re-route a secured service (W2) pass near the home. Another success involved
                            assisting a couple from Wallsend/Rose Hill area who were seeking an improved bus service in the area where they lived. After liaison with the private operator,
                            Go North East, it was agreed they would re-schedule one of their services to cover that area. Another matter is the contract for bus shelters which are being
                            renewed in all boroughs, and we have requested a new one to be placed near to the ‘Fish Quay, with success.</li>

                        <li>With regard to rail services, we have raised our objection to the Driver Only Operation which is planned to be introduced on most rail routes and have joined
                            the ‘Action for Rail’ campaign, which has argued that no real passenger safety test has been undertaken. The only tests have been about avoiding driver collision.
                            Our concerns are about the safety of older and vulnerable travellers, particularly since many stations are now unstaffed. Members have also had many letters about
                            this in the local papers. We are also campaigning for the rail network to be renationalised, given the exorbitant fares charged by the franchised rail operators,
                            rising another 3.6% in January 2018 and the poor service we receive for that.</li>

                        <li>We have had un-reconciled differences in our discussions with the Council regarding cycling on pavements and have requested the Council to install separation lines
                            along the river front, with regard to the safety of walkers and cyclists. We have also requested, without success for double yellow lines to be installed at the
                            junction of St Georges Road and Mast Lane, as we have argued, it is an accident waiting to happen, given the amount of parking and stopping near to the shops and
                            the limited vision this creates for other car drivers and pedestrians.</li>
                    </ul>
                </div>
                <!-- /.CAMPAIGNS -->
            </div>
        </div>
    </div>

</section>
{% endblock %}