{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="image-rail" src="static/images/newcastle_train.jpg"
                     alt="Newcastle-bound TransPennine Express train at Manchester Piccadilly Station."
                     data-toggle="tooltip" data-placement="bottom"
                     title="Newcastle-bound TransPennine Express train at Manchester Piccadilly Station.">
            </div>

            <!-- NEWS -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="news-rail">
                    <span class="uppercase panel-title">Rail News</span><br><br>
                    <!-- <<                                                                       >> -->
                    <!-- << INSERT NEWS ARTICLES HERE                                             >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << General instructions for updating content:                            >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << 1. Copy and paste the topmost item between the <a> and </a> tags.     >> -->
                    <!-- << 2. Replace the href with the new website address.                     >> -->
                    <!-- << 3. Replace the description between the <p> and </p> tags.             >> -->
                    <!-- <<                                                                       >> -->
                    <!-- << For content to be shown in modal windows, do as above but replace     >> -->
                    <!-- << the opening <a> tag with following template and customise to suit:    >> -->
                    <!-- << <a href="" data-toggle="modal" data-target="#NameOfModal">            >> -->
                    <!-- << Note that href must be left null. Copy new modal from existing modal  >> -->
                    <!-- << further down in document.                                             >> -->

                    <a href="https://you.38degrees.org.uk/petitions/bring-our-west-coast-rail-services-back-into-public-ownership" target="_blank">
                        <p>38 Degrees petition: Bring our West Coast rail services back into public ownership</p>
                    </a>

                    <a href="https://www.nexus.org.uk/GooglePay" target="_blank">
                        <p>Metro news - Pop Pay As You Go with Google Pay</p>
                    </a>

                    <a href="https://theglasshouse.org.uk/events/" target="_blank">
                        <p>The Glass-House, Community-Led Design: Events</p>
                    </a>

                    <a href="https://explorestation.commonplace.is/#msdynttrid=iHmWgvgX9gqgsFMbbW_r-MVJCit5KJkX31AOotimh-A" target="_blank">
                        <p>ExploreStation: Share your ideas for a #GreatBritishStation</p>
                    </a>

                    <a href="https://www.designcouncil.org.uk/news-opinion/explorestation-have-your-say-network-rails-new-local-station-design#msdynttrid=jLQNjODlo-1ivVqWB62Bs7MkYw9WDRbmmKxbY87UhHU" target="_blank">
                        <p>ExploreStation: have your say on Network Rail's new local station design</p>
                    </a>

                    <a href="https://bettertransport.org.uk/where-would-you-go-rail-2022" target="_blank">
                        <p>Where would you like to go by rail in 2022, if it's not too expensive?</p>
                    </a>

                    <a href="https://bdaily.co.uk/articles/2019/05/15/eco-friendly-train-firm-creates-new-jobs-ahead-of-schedule" target="_blank">
                        <p>Eco-friendly train firm creates new jobs ahead of schedule.</p>
                    </a>

                    <a href="/static/documents/Metro Futures Newsletter - July 2020.pdf" target="_blank">
                        <p>Metro celebrates 40 years of service (PDF newsletter).</p>
                    </a>

                    <a href="https://mailchi.mp/f95a9f0c0106/transport-responds-22-07-2509230?e=8f26cbaccd" target="_blank">
                        <p>Transport Responds Newsletter: Latest update on the transport impacts of the Coronavirus emergency.</p>
                    </a>

                    <a href="https://www.transport-network.co.uk/Tracking-passengers-who-need-assistance/15874/" target="_blank">
                        <p>Tracking passengers who need assistance.</p>
                    </a>

                    <a href="https://www.parliament.uk/business/committees/committees-a-z/commons-select/transport-committee/news-parliament-2017/trains-fit-for-future-launch-17-19/" target="_blank">
                        <p>Transport Select Committee inquiry launched into trains fit for the future.</p>
                    </a>

                    <a href=""
                        id="video-2"
                        data-toggle="modal"
                        data-target="#videoModal"
                        data-video-type="youtube"
                        data-title = "Cat Hobbs at the Labour post-budget rally, Nov 2017: We're taking back our services!"
                        data-video-source="https://www.youtube.com/embed/188H4pLy9H8"
                        onclick="showModal(this)">
                        <p><i class="fa fa-tv multi-media-icon"></i>
                            Video of Cat Hobbs at the Labour post-budget rally, Nov 2017:
                            "We're taking back our services!"
                        </p>
                    </a>

                </div>
            </div>
            <!-- /.NEWS -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <img class="image-rail image-metro-lobby" src="static/images/metro_lobby.jpg"
                 alt="Metro Futures Parliamentary Promotion with TWPTUG Chair, Vicki Gilbert, and
                 NECA South Tyneside Transport Committee members, Councillors Alan Smith and Gladys Hobson.">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="text-metro-lobby">
                <span class="uppercase panel-title">Metro Futures Campaign</span><br><br>
                <p>
                    A Parliamentary lobby for Metro Futures in 2016 with TWPTUG Chair, Vicki Gilbert (left), and
                    NECA South Tyneside Transport Committee members, Councillors Alan Smith (centre) and Gladys Hobson
                    (right).
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="image-rail image-rail-metro" src="static/images/metro_at_a_station.jpg"
                 alt="Metro train arriving at Kingston Park station."
                 data-toggle="tooltip" data-placement="bottom"
                 title="Metro train arriving at Kingston Park station.">
        </div>

    </div>

</section>

{% endblock %}