{% extends 'base.html' %}
{% block content %}

<section>

    <div class="row">

        <!-- IMAGE -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="group-image image-bus-news" src="static/images/stagecoach_x87_bus.jpg"
                 alt="Stagecoach X87 bus entering Prudhoe Place from Percy Street in Newcastle.">
        </div>
        <!-- /.IMAGE -->

        <!-- DEREGULATION HISTORY PANEL -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="deregulation">
                <span class="uppercase panel-title">A Brief History of Deregulation</span><br><br>
                <p>
                    The Transport Act 1985 heralded bus deregulation in the UK, which transferred operation of
                    bus services from public bodies to private companies.

                    Road road service licensing was abolished and local bus services were allowed to compete for the first
                    time since the 1930s.
                </p>
                <p>
                    This led to cut-throat competition and bus wars in some areas. Tactics included cutting
                    fares and operating extra services. Smaller operators went bust, or were taken over by the
                    larger transport companies.
                </p>
                <p>
                    As at 2010 the big five operators, Arriva, First, Go-Ahead, National Express and Stagecoach,
                    controlled 70% of the market. Bus deregulation has effectively turned local public monopolies, such as
                    the PTEs, into local private monopolies.
                </p>
                <p>
                    For more details see <a class="inline"
                    href="https://en.wikipedia.org/wiki/Bus_deregulation_in_Great_Britain">
                    <strong>Bus deregulation in Great Britain</strong></a>
                </p>
            </div>
        </div>
        <!-- DEREGULATION HISTORY PANEL -->
    </div>

    <div class="row">

        <!-- /.CASE FOR REREGULATION PANEL -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="deregulation reregulation">
                <h3 class="uppercase ">The Case for Reregulation</h3><br>
                <span class="panel-title">Bus ridership is in decline</span><br><br>
                <p>
                    When the Conservative government de-regulated bus services in the mid 80’s one of their stated
                    ambitions was to halt the decline in ridership over the previous thirty years. They claimed
                    that public ownership and council-led bus services were to blame and that private corporations
                    would be more in touch with the needs of bus users. That view is still peddled today, despite all
                    the evidence to the contrary, that bus use has continued to decline. To understand the decline in
                    ridership, we have to look further back to the Fifties and the post war generation. They really
                    fell in love with the motor car but finance and credit was difficult to get in those days so the
                    vast majority could not afford to buy a new car, or to even run a second-hand car. It was largely
                    a privilege of the middle and upper classes.
                </p>
                <p>
                    With increasing prosperity, car-ownership continued to slowly rise through the decades, but took on
                    a huge spurt with the growth in easy access to finance and credit in the 80s. Those who could,
                    bought a car, while the rest, the elderly, the vulnerable, the marginalised were left waiting at
                    the bus stop for the privately run service. The question which the Conservative government did not
                    bother to ask was ‘How could the private bus operators make a profit out of the poorer sections of
                    society?'. The bus operators clearly could not. That’s why buses, despite government claims since,
                    cannot be run on a  commercial basis; they need public subsidy.<strong> Collectively we all pay
                    nearly a third of the cost for the bus services that operate throughout Tyne & Wear.</strong>
                </p>
                <br>
                <span class="panel-title">Bus operators will not integrate their fares with each other</span>
                <br><br>
                <p>
                    While there is good physical integration of public transport services between buses, Metro and
                    Ferry here in Tyne & Wear, fares integration leaves a lot to be desired. Buses will issue
                    Nexus transfares and day tickets that can also be used on Metro or Ferry, but generally not for
                    the services of other bus operators. This is not only makes longer bus-to-bus journeys more
                    expensive for users but further undermines the competitiveness of buses with private cars, the
                    economics of which, is already skewed in favour of cars.
                </p>
                <p>
                    A publicly-accountable, local government body could integrate all fares and across Tyne & Wear
                    with a system similar to the Oyster travel cards used in London. We are not necessarily calling
                    for the bus operating companies to be taken into local public ownership, but for them to run their
                    services on behalf of the local transport authority through a franchising or quality contract
                    scheme. The bus operators would still be allowed to make a profit, as well as be giving the
                    opportunity to grow their business through increased ridership.
                </p>
                <br>
                <span class="panel-title">Tackling congestion and pollution</span>
                <br><br>
                <p>
                    The combination of deteriorating air quality and rising traffic congestion levels in the UK’s major
                    cities is not sustainable and will, inevitably, drive change in how people commute and move around.
                    Buses can play a key and growing role in that change as the leading solution along key arterial
                    corridors into and out of major cities where the ability for a large number of people travelling
                    in the same direction to share one vehicle will be the most efficient, least polluting, ride
                    sharing option.
                </p>
            </div>
        </div>
        <!-- /.CASE FOR REREGULATION PANEL -->

    </div>

</section>

{% endblock %}