{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- WELCOME -->
                        <div class="welcome">
                            <h1 class="uppercase panel-title">Welcome to South Tyneside Group!</h1>
                            <p></p>
                            <p>
                                <i><b>What we do</b></i>
                            </p>
                            <p>
                                The group was first formed over concerns about the lack of buses from Jarrow and Hebburn to South Tyneside District Hospital, South Shields, after the decision to close the NHS walk-in centre at Jarrow.
                                However, we are also committed to campaigning on improving public transport within the borough, and on related issues such as traffic congestion and air pollution.
                                You need to either live or work in the borough to be a member of this group, as it is meant to represent the interests of public transport users in the area.
                            </p>
                            <p>
                                <i><b>Our history</b></i>
                            </p>
                            <p>
                                We are the third local group to be established under TWPTUG, starting in 2015. We started campaigning about the lack of hospital buses as above, but the decision to also close some services at
                                South Tyneside District Hospital and move them to Sunderland, preoccupied a lot of members of the group, causing it to run out of impetus. <b>The group is therefore currently dormant</b>.
                            </p>
                            <p>
                                If you are interested in our work and would like to help re-start the group then please get in touch with the TWPTUG secretary below. We can help you with publicity to find other people to re-establish
                                the group. Even if you haven't got time to be involved with the group, we would welcome any news articles or comments on transport issues within the borough.
                                Please email us, as below.
                            </p>
                            <p>
                                <i><b>Enquiries</b></i>
                            </p>
                            <p>
                                <!-- If, and when, this Group starts up again, comment-in the 2 lines below, and comment-out the next 2 lines after -->
                                <!-- those,to redirect emails to back to the Group Secretary. Currently, any emails will go to the TWPTUG Secretary. -->

                                <!--Please email us here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalSTyneside"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>-->
                                <!--Alternatively, email at <a href="mailto:stptugsecretary@outlook.com">stptugsecretary@outlook.com</a>.-->

                                Please email TWPTUG here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalTWPTUG"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
                                Alternatively, email us at <a href="mailto:twptugsecretary@outlook.com">twptugsecretary@outlook.com</a>.
                            </p>

                        </div>
                        <!-- /.WELCOME -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- /.LOCAL NEWS AND EVENTS -->
                        <div class="local-news">
                            <span class="uppercase panel-title">Local News & Events</span><br>
                            <p>Shields Gazette article, 31st October 2018 - Response from Nexus about Metro issues. View PDF
                                <a href="static/documents/Shields%20Gazette%2031%20Oct%202018.pdf" target="_blank"><b>here</b></a>.
                            </p>
                            <p>South Tyneside and Sunderland NHS Partnership's travel and transport impact review. View PDF
                                <a href="static/documents/NHS-Path-to-Excellence-travel-and-transport-impact-public-summary.pdf" target="_blank"><b>here</b></a>.
                            </p>
                        </div>
                        <!-- /.LOCAL NEWS AND EVENTS -->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- IMAGE -->
                        <img class="group-image group-image-special" src="static/images/tyne_lifeboat.jpg" alt="The restored Tyne lifeboat and canopy on Ocean Road, South Shields.">
                        <p class="photo-credit photo-credit-special">Image courtesy of <a href="https://www.facebook.com/ctynewear/" target="_blank">See Tyne and Wear Differently</a></p>
                        <!-- /.IMAGE -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- CAMPAIGNS -->
                        <div class="campaigns">
                            <h3 class="uppercase">Campaigns and Activities</h3><br>
                            <p>South Tyneside group did the following:</p>
                            <ul>
                                <li>As confirmed by the travel and transport impact review by South Tyneside and Sunderland NHS Partnership, the proportion of households in Jarrow and Hebburn in South
                                    Tyneside have a <b>relatively high percentage of households with no access to a car</b>, as is also the case in some areas of South Shields. Therefore we have lobbied
                                    both the local bus companies and the NHS to work together to provide buses from Jarrow and Hebburn to South Tyneside District Hospital. Despite this we are opposed to
                                    the moving of some hospital services out of South Tyneside not only because of the risk of increased congestion on the roads, but also because of the costs and increased
                                    stress that travelling will have on patients and their visitors.</li>
                            </ul>
                            <p>Campaigns for the future that we have identified:</p>
                            <ul>
                                <li>North-South transport bus provision for students in Tyne and Wear is considered good by such users. However, we are aware that East-West provision is less than adequate,
                                    especially since students generally don't have access to a car, so must use public transport. We are interested in working with students who are experiencing any such
                                    difficulties in this regard. Please contact TWPTUG if you would like to campaign on this issue.</li>
                            </ul>
                        </div>
                        <!-- /.CAMPAIGNS -->
                    </div>
                </div>
            </div>
        </section>
{% endblock %}