{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- WELCOME -->
                        <div class="welcome">
                            <h1 class="uppercase panel-title">Welcome to Sunderland Group!</h1>                    <!-- WELCOME -->

                            <p></p>
                            <p>
                                <i><b>What we do</b></i>
                            </p>
                            <p>
                                This group hasn't started yet. Please come and help TWPTUG change the face of public transport in Sunderland for the better!
                            </p>
                            <p>
                                If you are interested in our work and would like to help start the group up then please get in touch with the TWPTUG secretary below. We can help you with publicity
                                to find other people to re-establish the group.
                            </p>
                            <p class="welcome-highlighting">
                                Even if you haven't got time to be involved with the group, we would still welcome any suitable news articles or event information related to transport issues
                                within the borough of Sunderland, which we will post on our LOCAL NEWS & EVENTS panel below. Please submit them by email to TWPTUG, as below. Thank you!
                            </p>
                            <p>
                                <i><b>Our history</b></i>
                            </p>
                            <p>
                                We have none as yet, but we are optimistic we will have some day. Could you make that happen?
                            </p>
                            <p>
                                <i><b>Enquiries & Submissions</b></i>
                            </p>
                            <p>
                                <!-- If, and when, this Group starts up again, comment-in the 2 lines below, and comment-out the next 2 lines after -->
                                <!-- those,to redirect emails to back to the Group Secretary. Currently, any emails will go to the TWPTUG Secretary. -->

                                <!--Please email us here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalSTyneside"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>-->
                                <!--Alternatively, email at <a href="mailto:suptugsecretary@outlook.com">suptugsecretary@outlook.com</a>.-->

                                Please email TWPTUG here.<a href="" class="email-link" data-toggle="modal" data-target="#emailModalTWPTUG"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
                                Alternatively, email us at <a href="mailto:twptugsecretary@outlook.com">twptugsecretary@outlook.com</a>.
                            </p>
                        </div>
                        <!-- /.WELCOME -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- /.LOCAL NEWS AND EVENTS -->
                        <div class="local-news">
                            <span class="uppercase panel-title">Local News & Events</span><br>
                            <p>
                                <a href="https://www.sunderlandecho.com/news/rail-strike-set-to-go-ahead-this-weekend-1-9470778" target="_blank">Rail strike set to go ahead this weekend on Northern</a>.
                            </p>
                            <p>
                                <a href="https://www.sunderlandecho.com/news/transport-cash-funding-targeted-by-mps-upset-over-region-s-share-1-8910183" target="_blank">Transport cash funding targeted by MPs upset over region’s share</a>.
                            </p>
                            <p>
                                <a href="https://www.bbc.co.uk/news/uk-england-tyne-36840798" target="_blank">BBC News: Tyne and Wear Metro expansion agreed</a>.
                            </p>
                        </div>
                        <!-- /.LOCAL NEWS AND EVENTS -->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- IMAGE -->
                        <img class="group-image group-image-special" src="static/images/penshaw_monument.jpg" alt="Penshaw Monument, officially The Earl of Durham's Monument, which was built in 1844 on Penshaw Hill.">
                        <p class="photo-credit photo-credit-special">Image courtesy of <a href="https://www.facebook.com/ctynewear/" target="_blank">See Tyne and Wear Differently</a></p>
                        <!-- /.IMAGE -->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- CAMPAIGNS -->
                        <div class="campaigns">
                            <h3 class="uppercase">Campaigns and Activities</h3><br>
                            <p>This group hasn't started yet!</p>
                            <!--
                            <ul>
                                <li>Place campaign content here!</li>
                            </ul>
                            -->
                        </div>
                        <!-- /.CAMPAIGNS -->
                    </div>
                </div>
            </div>
        </section>
{% endblock %}